<!--
       _            _            _            _   _                 _             _            _    _        _           _   _       _        _             _             _            _            _
      /\ \         /\ \         /\ \     _  /_/\ /\ \             /\ \           /\ \         /\ \ /\ \     /\_\        /\_\/\_\ _  /\ \     /\_\         /\ \           /\ \         /\ \         /\ \
     /  \ \____   /  \ \       /  \ \   /\_\\_\ \\_\ \           /  \ \         /  \ \       /  \ \\ \ \   / / /       / / / / //\_\\ \ \   / / /        /  \ \         /  \ \       /  \ \____   /  \ \
    / /\ \_____\ / /\ \ \     / /\ \ \_/ / //\_\//\__ \         / /\ \ \       / /\ \ \     / /\ \ \\ \ \_/ / /       /\ \/ \ \/ / / \ \ \_/ / /        / /\ \ \       / /\ \ \     / /\ \_____\ / /\ \ \
   / / /\/___  // / /\ \ \   / / /\ \___/ / \/_// /_ \ \       / / /\ \ \     / / /\ \ \   / / /\ \_\\ \___/ /       /  \____\__/ /   \ \___/ /        / / /\ \ \     / / /\ \ \   / / /\/___  // / /\ \_\
  / / /   / / // / /  \ \_\ / / /  \/____/     / / /\ \ \     / / /  \ \_\   / / /  \ \_\ / / /_/ / / \ \ \_/       / /\/________/     \ \ \_/        / / /  \ \_\   / / /  \ \_\ / / /   / / // /_/_ \/_/
 / / /   / / // / /   / / // / /    / / /     / / /  \/_/    / / /    \/_/  / / /   / / // / /__\/ /   \ \ \       / / /\/_// / /       \ \ \        / / /    \/_/  / / /   / / // / /   / / // /____/\   _
/ / /   / / // / /   / / // / /    / / /     / / /          / / /          / / /   / / // / /_____/     \ \ \     / / /    / / /         \ \ \      / / /          / / /   / / // / /   / / // /\____\/ /\_\
\ \ \__/ / // / /___/ / // / /    / / /     / / /          / / /________  / / /___/ / // / /             \ \ \   / / /    / / /           \ \ \    / / /________  / / /___/ / / \ \ \__/ / // / /______ \/ /\
 \ \___\/ // / /____\/ // / /    / / /     /_/ /          / / /_________\/ / /____\/ // / /               \ \_\  \/_/    / / /             \ \_\  / / /_________\/ / /____\/ /   \ \___\/ // / /_______\/_/ /
  \/_____/ \/_________/ \/_/     \/_/      \_\/           \/____________/\/_________/ \/_/                 \/_/          \/_/               \/_/  \/____________/\/_________/     \/_____/ \/__________/\_\/
 _        _          _      _                      _            _       _     _          _            _         _
/\ \     /\_\       /\ \   /\_\                   /\ \         / /\    / /\  /\ \       /\ \         /\ \      /\_\
\ \ \   / / /      /  \ \ / / /         _         \_\ \       / / /   / / /  \ \ \     /  \ \       /  \ \    / / /
 \ \ \_/ / /      / /\ \ \\ \ \__      /\_\       /\__ \     / /_/   / / /   /\ \_\   / /\ \ \     / /\ \ \  / / /_
  \ \___/ /      / / /\ \ \\ \___\    / / /      / /_ \ \   / /\ \__/ / /   / /\/_/  / / /\ \_\   / / /\ \_\/ /___/\
   \ \ \_/      / / /  \ \_\\__  /   / / /      / / /\ \ \ / /\ \___\/ /   / / /    / /_/_ \/_/  / /_/_ \/_/\____ \ \
    \ \ \      / / /   / / // / /   / / /      / / /  \/_// / /\/___/ /   / / /    / /____/\    / /____/\       / / /
     \ \ \    / / /   / / // / /   / / /      / / /      / / /   / / /   / / /    / /\____\/   / /\____\/      / / /
      \ \ \  / / /___/ / // / /___/ / /      / / /      / / /   / / /___/ / /__  / / /______  / / /           _\/_/
       \ \_\/ / /____\/ // / /____\/ /      /_/ /      / / /   / / //\__\/_/___\/ / /_______\/ / /           /\_\
        \/_/\/_________/ \/_________/       \_\/       \/_/    \/_/ \/_________/\/__________/\/_/            \/_/
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- MetaData -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The least wholesome website on the Internet!">
    <meta name="author" content="SilverFS">

    <link rel="icon" href="/static/think.ico">
    <title>Questionable Randomness..</title>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">


</head>
<body>


    <!-- Everything in the center of the page -->
    <center class="container-sm">
        <br />
        <br />
        <h1 style="color:green" ;>FRESH 'N RANDOM</h1>
        <p1 style="color:forestgreen;">The power you never knew you needed..</p1>
        <br />
        <h3 style="color:white;">&#3233;&lowbar;&#3233;</h3>
        <br />
        <!-- Video display -->
        <div>
            <video controls autoplay>
                <source src="" type="video/mp4">
            </video>
        </div>

        <!-- Manual refresh button -->
        <p class="lead">
            <br />
            <a href="/" class="btn btn-lg btn-secondary">Manual refresh</a>
        </p>
    </center>


    <!-- src="/static/videos/{{ randomshitt }}.mp4"-->
    <!-- New Test JS -->
    <script type="text/javascript">

    </script>


    <!-- Continuous video play -->
    <script type='text/javascript'>
    var video = document.getElementsByTagName('video')[0];
    var source = document.getElementsByTagName('source')[0];

    source.setAttribute('src', `/static/videos/${ getRandomInt(135) }.mp4`);

    video.onended = function(e) {
      source.setAttribute('src', `/static/videos/${ getRandomInt(135) }.mp4`);
    };

    function getRandomInt(max) {
        return Math.floor(Math.random() *
        Math.floor(max)+1);
    }
    </script>

</body>

</html>